body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  background-color: #c2e6ea;
  border: 1px solid #a755b5;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-family: "barricada-pro", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

p,
header,
ul li,
footer {
  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 15px;
}

header,
footer {
  background-color: #a755b5;
  padding: 20px 20px 40px;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.nav-container {
  background-color: #c2e6ea;
  border-radius: 18px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

header img,
.logo-streetjamfestival {
  width: 225px;
  padding: 20px 20px 20px 30px ;
}

.icon-section-left {
  max-width: 60px;
  margin: 0px 10px 15px;
}

.icon-section-right {
  width: 60px;
  transform: translateX(180px);
}

.round-img {
  border-radius: 18px;
  width: 280px;
  height: 340px;
  object-fit: cover;
  margin: 0 0 40px;
}

video {
  border-radius: 18px;
  max-width: 250px;
  margin: 0 0 0 10px;
  border: 6px solid #e4c100;
}

.section {
  border-radius: 38px;
  margin: 20px 20px 50px;
  background-color: #7fc500;
  padding: 15px;
  box-shadow: 10px 10px #c52982;
}

.section-intro h2 {
  color: #c52982;
}

.section-graff {
  background-color: #eb9322;
  box-shadow: 10px 10px #016fb8;
}

.section-graff h2 {
  color: #016fb8;
}

.section-skate {
  background-color: #eebc12;
  box-shadow: 10px 10px #3b48ae;
}

.section-skate h2 {
  color: #3b48ae;
}

.section-musique {
  background-color: #01b6a3;
  box-shadow: 10px 10px #cc5319;
}

.section-musique h2 {
  color: #cc5319;
}

.section-streetfood {
  background-color: #f2e300;
  box-shadow: 10px 10px #7421a5;
}

.section-streetfood h2 {
  color: #7421a5;
}

footer,
footer a {
  color: #e4c100;
  text-align: center;
}

.section-contact {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.section-contact img {
  max-width: 50px;
  padding: 20px 20px 35px;
}

footer img {
  width: 50px;
}

h3 {
  font-size: 20px;
  font-family: "barricada-pro", serif;
  font-weight: 400;
  font-style: normal;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hour {
  background-color: #c2e6ea;
  border-radius: 16px;
  padding: 0 5px 0;
}

.section-food {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.section-food img {
  max-width: 70px;
}

.list-food {
  display: flex;

  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
}

li:before {
  content: '- ';
}

.word-intro {
  color: #c52982;
}

.word-graff {
  color: #016fb8;
}

.word-skate {
  color: #3b48ae;
}
}