body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-family: "barricada-pro", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal; 
}